# Virtual environment
venv/
env/
__pycache__/
*.pyc

# Local vector DB and temporary files
qdrant_db/
storage/temp_selfies/*
!storage/temp_selfies/.gitkeep

# Keep event folders and photos tracked in git so hosted app has all events
!storage/events/**


# OS / Editor files
.vscode/
.DS_Store