# Virtual environment
venv/
env/
__pycache__/
*.pyc

# Local vector DB and temporary files
qdrant_db/
storage/temp_selfies/*
!storage/temp_selfies/.gitkeep

# Ignore client images inside event folders, but keep directory structure
storage/events/*
!storage/events/.gitkeep

# OS / Editor files
.vscode/
.DS_Store